/* 
    Created on : 04-Dec-2015, 20:15:22
    Author     : stephen
*/

*{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0.9375em;
    border: 0.9375em;
}
